streamlit
mistralai
PyPDF2
python-docx
pandas
numpy
protobuf==3.20.3
chromadb==0.4.15
pysqlite3-binary
sentence-transformers
langchain==0.0.340
langchain-community==0.0.28
langsmith==0.0.83
langchain-mistralai
python-pptx
openpyxl
scikit-learn
huggingface-hub