streamlit
mistralai
PyPDF2
python-docx
pandas
numpy
protobuf==3.20.3
chromadb
pysqlite3-binary
sentence-transformers
langchain
langchain-community
langchain-mistralai
python-pptx
openpyxl
scikit-learn
huggingface-hub