streamlit
mistralai
PyPDF2
python-docx
pandas
numpy
chromadb==0.3.29
pysqlite3-binary
sentence-transformers
langchain==0.1.9
langchain-community==0.0.24
langchain-core==0.1.35
langchain-mistralai
langsmith==0.1.26
python-pptx
openpyxl
scikit-learn
huggingface-hub